/*Botões*/

.btn {
  color: var(--cor-fundo);
  background-color: var(--cor-destaque);
  text-decoration: none;
  padding: 14px 20px;
  border-radius: 15px;
}

.btn:hover {
  background-color: var(--cor-auxiliar);
}

/*BADGES*/
.badge {
  background-color: red;
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  font-size: 1rem;
}

/*-----------cardapio-------------*/

/*cardapio*/
.cardapio {
  align-items: center;
}

.cardapio-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.cardapio-texto img {
  text-align: center;
}

.seeProductsButton {
  margin: 20px;
  text-align: center;
}

.cardapio-item {
  display: flex;
  gap: 30px;
}

.cardapio-cards {
  display: flex;
  justify-content: center;
  background-color: var(--cor-auxiliar);
  max-width: 1440px;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 10px;
}

.produto {
  background-color: var(--cor-fundo);
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  position: relative;

}

.produto img {
  width: 100%;
  height: 210px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.produto-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 1rem;
}

.product-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  white-space: nowrap;
}

.product-buttons .btn {
  flex-grow: 1;
  text-align: center;
}


/*--------------------Modal-------------*/

.modal {
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.4);
  display: none;
}
.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.modal .close {
  position: absolute;
  top: 10px; right: 20px;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

/*-------------------botões flutuantes-------------*/

.whatsappFloat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: var(--cor-destaque);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  justify-content: center;
  font-size: 2.2rem;
}

.pageTopFloat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 120px;
  right: 40px;
  background-color: var(--cor-destaque);
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  justify-content: center;
  font-size: 2.2rem;
}

.my-float {
  margin-top: 22px;
}

/*----------------inputs----------------*/

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="password"],
select,
textarea {
  border: 1px solid #922727;
  border-radius: 10px;
  padding: 10px;
  background-color: #eee2e2;
  margin: 5px;
}

input:focus {
  border-color: #502c0e;
  outline: none;
  box-shadow: 0 0 5px #502c0e;
  background-color: #eee;
}

input:hover {
  border-color: #ff8c00;
  outline: none;
  background-color: #eee;
}


input[type="submit"] {
  background-color: var(--cor-destaque);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin-left: auto;
  display: block;

}

input[type="submit"]:hover {
  background-color: var(--cor-auxiliar);
}