body {
    margin: 10px 20px 30px 40px;
    /* cima | direita | baixo | esquerda */ 
}


.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  caption {
    font-size: 1.6em;
    font-weight: bold;
    padding: 12px;
    color: #6b3e26;
    background-color: #fff3e0;
    border-bottom: 2px solid #e0c3a0;
  }
  
  thead th {
    background-color: #f5e1d2;
    color: #5a2e0f;
    padding: 14px;
    text-align: left;
    border-bottom: 2px solid #d9b28c;
  }
  
  tbody td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    background-color: #fffdf9;
  }
  
  tbody tr:nth-child(even) td {
    background-color: #fef7f1;
  }
  
  tbody tr:hover td {
    background-color: #fff0dc;
    transition: background-color 0.3s ease;
  }


  .video-container iframe {
    border: none; /* Remove qualquer borda */
    width: 100%;
    height: 360px;
    border-radius: 12px; /* Opcional: cantos arredondados */
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); /* Opcional: sombra elegante */
  }