.listas {
    display: flex;
    justify-content: space-between; /* ou use 'center', 'flex-start', etc. */
    gap: 30px; /* espaçamento entre as listas */
    margin-top: 20px;
  }
  
  .listas > div {
    flex: 1; /* divide igualmente o espaço entre os dois blocos */
    padding: 10px;
  }