* {
  padding: 0;
  margin: 0;
}

*{
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #552814;
  background-color: #f5ede3;
}
h1, h2, h3 {
  font-family: "Playfair Display", serif;
}
h1 {
  font-size: 56px;
}
h2 {
   font-size: 40px;
}
h3 {
   font-size: 24px;
}


.fundocabecalho {
  background-color: #552814;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 16px 10px 0px #00000073;
}


.barra-navegacao {

  color: #f5ede3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barra-navegacao a {
  text-decoration: none;
  color: #f5ede3;
  font-weight: bold;
  transition: color 0.3s ease;
}

.barra-navegacao a:hover {
  color: #ff6600;

}

.menu-links {
  display: flex;
  gap: 20px; 
}

.titulo-princial {
  margin: 0;
  color: #f5ede3;
}

/*--------apresentaçao--------*/
.hero {
  height: 80vh;
  margin: 0 auto;
  color: #502c0e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hero img {
  position: relative;
  padding-right: 100px;
  
}

.texto-principal {
  width: 500px;
  position: relative;
  padding-left: 100px;
  
}

button {
  background-color: #502c0e;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 50px;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
button a {
  text-decoration: none;
  color: #f5ede3;
}

button:hover {
  background-color: #ff8c00;
}
/*------------------------*/

img {
  border-radius: 10px;
}


.container {
  max-width: 1440px;       /* largura máxima da área de conteúdo */
  padding: 0 20px;          /* espaçamento lateral */
  
}

/*------------footer--------*/

.fundorodape {
  background-color: #552814;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 16px 10px 0px #00000073;
}
.footer {
  color: #f5ede3;
  display: flex;
  justify-content: space-between; /* espaço entre os blocos */
  align-items: center;            /* alinhamento vertical */
}

.endereco, .redes-sociais {
  padding: 10px;
}

/*-------------cardapio------------*/

.cardapio {
  gap: 20px;
  text-align: center;
  background-color: #cabaad;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cardapio video {
  border-radius: 20px;
}

/*-----------------tabela-----------*/

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  max-width: fit-content;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

 
thead th {
  background-color: #f5e1d2;
  color: #5a2e0f;
  padding: 14px;
  text-align: left;
  border-bottom: 2px solid #d9b28c;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  background-color: #fffdf9;
}

tbody tr:nth-child(even) td {
  background-color: #fef7f1;
}

tbody tr:hover td {
  background-color: #fff0dc;
  transition: background-color 0.3s ease;
}


/*------------formulario-------------*/

fieldset {
  margin-bottom: 20px;
  border: 3px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  max

}

.formulario-lado {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.formulario-adicional {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select, textarea{
  border: 1px solid #922727;
  border-radius: 10px;
  padding: 10px;
  background-color: #eee2e2; 
  margin-bottom: 5px;
}

input:focus {
  border-color: #502c0e;
  outline: none;
  box-shadow: 0 0 5px #502c0e;
  background-color: #eee;
}

input:hover{
  border-color: #ff8c00;
  outline: none;
  background-color: #eee;
}


input[type="submit"] {
  background-color: rgb(80, 201, 120);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin-left: auto;
  display: block;

}

input[type="submit"]:hover {
  background-color: #ff8c00;
}

