* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #552814;
  background-color: #f5ede3;
}
h1, h2, h3 {
  font-family: "Playfair Display", serif;
}
h2 {
   font-size: 40;
}
h3 {
   font-size: 24;
}


.barra-navegacao {
  background-color: #552814;
  color: #f5ede3;
  padding: 50px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.barra-navegacao a {
  text-decoration: none;
  color: #f5ede3;
  font-weight: bold;
  transition: color 0.3s ease;
}

.barra-navegacao a:hover {
  color: #ff6600;

}

.menu-links {
  display: flex;
  gap: 20px; /* Espaçamento entre os links */
}

.titulo-princial {
  font-size: 56;
  margin: 0;
  color: #f5ede3;
}

img {
  border-radius: 10px;
}

.footer {
  background-color: #552814;
  color: #f5ede3;
  display: flex;
  justify-content: space-between; /* espaço entre os blocos */
  align-items: center;            /* alinhamento vertical */
  padding: 20px;
}

.endereco, .redes-sociais {
  flex: 1;
  padding: 10px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

 
thead th {
  background-color: #f5e1d2;
  color: #5a2e0f;
  padding: 14px;
  text-align: left;
  border-bottom: 2px solid #d9b28c;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  background-color: #fffdf9;
}

tbody tr:nth-child(even) td {
  background-color: #fef7f1;
}

tbody tr:hover td {
  background-color: #fff0dc;
  transition: background-color 0.3s ease;
}


.video-container iframe {
  border: none;
  /* Remove qualquer borda */
  width: 100%;
  border-radius: 12px;
  /* Opcional: cantos arredondados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  /* Opcional: sombra elegante */
}

/*------------formulario-------------*/

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select, textarea{
  border: 1px solid #922727;
  border-radius: 10px;
  padding: 10px;
  background-color: #eee2e2; 
  margin-bottom: 5px;
}

input:focus {
  border-color: #502c0e;
  outline: none;
  box-shadow: 0 0 5px #502c0e;
  background-color: #eee;
}

input:hover{
  border-color: #ff8c00;
  outline: none;
  background-color: #eee;
}


input[type="submit"] {
  background-color: rgb(80, 201, 120);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  padding: 10px;
  margin-left: auto;
  display: block;

}

input[type="submit"]:hover {
  background-color: #ff8c00;
}

